{% extends "layouts/base.html" %}


{% block page-content %}
<!-- col-md-12 -->
<div class="col-md-12">

    <!-- portfoliofilter -->
    <div class="portfoliofilter">

        <ul>
            <li>
                <a href="{% url 'main:home' %}" class="selected btn btn-default btn-nesto" data-filter="*" title="Всё">
                    Всё
                </a>
            </li>
            {% for category in categories %}
            <li>
                <a href="#" data-filter=".portfolio-web" title="{{ category.name }}" class="btn btn-default btn-nesto">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
    <!-- /portfoliofilter -->

</div><!-- /col-md-12 -->

<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">


        <!-- col-md-8 -->
        <div class="col-md-8 blog-posts">

            {% for post in posts %}
            <!-- post-main-wrapper -->
            <div class="post-main-wrapper">


                <!-- post-wrapper -->
                <div class="post-wrapper default-post-type">


                    <!-- post-container -->
                    <div class="post-container">

                        <!-- post-title -->
                        <div class="post-title">
                            <h2>
                                <a href="single-post.html" title="{{ post.title }}">
                                    {{ post.title }}
                                </a>
                            </h2>
                        </div><!-- /post-title -->


                        <!-- post-meta -->
                        <div class="post-meta">

                            <!-- post-date -->
                            <span class="post-date">
                                <i class="fa fa-clock-o"></i>
                                <a href="#" title="Время первой публикации">{{ post.created_at }}</a>
                            </span><!-- /post-date -->

                            <!-- post-author -->
                            <span class="post-author">
                                <i class="fa fa-user"></i>
                                <a href="#" title="{{ post.author }}">{{ post.author }}</a>
                            </span><!-- /post-author -->

                            <!-- post-cat -->
                            <span class="post-cat">
                                <i class="fa fa-folder-open"></i>
                                <a href="#" title="{{ post.category }}">{{ post.category }}</a>
                            </span><!-- /post-cat -->

                        </div><!-- /post-meta -->


                        <!-- post-content -->
                        <div class="post-content">
                            <p>{{ post.content|truncatechars:150 }}</p>
                        </div><!-- /post-content -->


                    </div><!-- /post-container -->


                    <!-- post-link -->
                    <div class="post-link">
                        <a href="single-post.html" title="Прокомментировать">
                            <span>
                                <span class="post-type"></span>
                                <span class="post-anchor"></span>
                            </span>
                        </a>
                    </div><!-- /post-link -->


                </div><!-- /post-wrapper -->


            </div><!-- /post-main-wrapper -->
            {% endfor %}

        </div><!-- /col-md-8 -->


        <!-- more-button -->
        <div class="more-button">
            <a href="#" title="Загрузить больше" class="btn btn-lg btn-nesto">
                Загрузить больше
            </a>
        </div><!-- /more-button -->


    </div><!-- /row -->
</div><!-- /container -->

{% endblock %}