{% extends "layouts/base.html" %}


{% block page-content %}
<!-- col-md-12 -->
<div class="col-md-12">

    <!-- portfoliofilter -->
    <div class="portfoliofilter">

        <ul>
            <li>
                <a href="{% url 'main:home' %}" class="{% if not request.GET.category %}selected{% endif %} btn btn-default btn-nesto" data-filter="*" title="Всё">
                    Всё
                </a>
            </li>
            {% for category in categories %}
            <li>
                <a href="{% url 'main:home' %}?category={{ category.slug }}" title="{{ category.name }}" 
                class="{% if category.slug == request.GET.category %}selected{% endif %} btn btn-default btn-nesto">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
    <!-- /portfoliofilter -->

</div><!-- /col-md-12 -->

<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <!-- col-md-8 -->
        <div class="col-md-8 blog-posts">
            {% include 'index-ajax.html' %}
        </div><!-- /col-md-8 -->
    </div><!-- /row -->
</div><!-- /container -->

{% endblock %}